.editor {
    text-align: center;
    gap: 30px;
    margin-top: 40px;
}

.editor .control-box-container img {
    width: 20px;
}

.editor .control-box-container input,
.editor .control-box-container select,
.editor .control-box-container .save,
.editor .control-box-container .download {
    font-family: dyna-puff, serif;
    font-weight: 100;
}

.editor .control-box-container .fa-solid,
.editor .control-box-container input,
.editor .control-box-container button,
.editor .control-box-container select {
    width: 50px;
    height: 50px;
    color: bal;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--clr2);
    border-radius: 4px;
    box-shadow: -1px 8px 14px -11px rgba(0, 0, 0, 1);
    background-color: white;
}

.editor .control-box-container .fa-solid:hover,
.editor .control-box-container input:hover,
.editor .control-box-container button:hover,
.editor .control-box-container select:hover {
    background-color: rgba(255, 166, 0, 0.288);
}

.editor .control-box-container input[type=text] {
    width: 300px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid var(--clr2);
}

.editor .control-box-container select {
    width: 100px;
}

.editor .control-box-container>label.fa-solid {
    position: relative;
    padding: 15px;
}

.editor .control-box-container input[type=color] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    /* the same as label(fa-solid) width */
}

.editor .control-box-container .save,
.editor .control-box-container button:last-child {
    width: 100px;
    border: 2px solid var(--clr2);
    margin-top: 30px;
}

.saved-memes {
    text-align: center;
    gap: 30px;
    margin-top: 40px;
}