/* Font Family */

@font-face {
    font-family: dyna-puff;
    src: url(../fonts/dynaPuff/DynaPuff-Regular.ttf);
}

/* FA */

/* social networks */

@font-face {
    font-family: fa-brands;
    src: url(../fonts/font_awesome/fa-brands-400.ttf);
}

.fa-brands {
    font-family: fa-brands;
}

.fa-brands.facebook::before {
    content: '\f39e';
}

.fa-brands.twitter::before {
    content: '\f099';
}

.fa-brands.behance::before {
    content: '\f1b4';
}

.fa-brands.dribbble::before {
    content: '\f17d';
}

@font-face {
    font-family: fa-solid;
    src: url(../fonts/font_awesome/fa-solid-900.ttf);
}

.fa-solid {
    font-family: fa-solid;
}

.fa-solid.paint-brush::before {
    content: '\f1fc';
}

.fa-solid.fill-drip::before {
    content: '\f576';
}

.fa-solid.arrow-down::before {
    content: '\f175';
}

.fa-solid.arrow-up::before {
    content: '\f176';
}