:root {
    /* text color */
    --clr1: #1e1e1e;
    /* background header */
    --clr2: #292929;
    /* background footer */
    --clr3: #f8f8f8;
    --clr4: orange;

    /* mq variables */
    --large: 1400px;
    --medium: 1000px;
    --small: 680px;
}